In [1]:
%load_ext sql

In [2]:
%sql postgresql+psycopg://localhost:5432/intro_to_sql_for_analytics

In [3]:
%%sql

SELECT * 
FROM us_pumpkin_prices
LIMIT 5;

 * postgresql+psycopg://localhost:5432/intro_to_sql_for_analytics
5 rows affected.

[(0, 'PUMPKINS', 'ATLANTA', None, '24 inch bins', 'HOWDEN TYPE', None, None, datetime.date(2016, 9, 24), 140.0, 154.75, 140.0, 154.75, 'MICHIGAN', None, 'jbo', None, None, None, None, None, None, None, None, 'N', None),
 (1, 'PUMPKINS', 'ATLANTA', None, '24 inch bins', 'HOWDEN TYPE', None, None, datetime.date(2016, 9, 24), 145.0, 154.75, 145.0, 154.75, 'MICHIGAN', None, 'xlge', None, None, None, None, None, None, None, None, 'N', None),
 (2, 'PUMPKINS', 'ATLANTA', None, '24 inch bins', 'HOWDEN TYPE', None, None, datetime.date(2016, 9, 24), 150.0, 154.75, 150.0, 154.75, 'MICHIGAN', None, 'med-lge', None, None, None, None, None, None, None, None, 'N', None),
 (3, 'PUMPKINS', 'ATLANTA', None, '24 inch bins', 'HOWDEN TYPE', None, None, datetime.date(2016, 9, 24), 150.0, 150.0, 150.0, 150.0, 'MICHIGAN', None, 'sml', None, None, None, None, None, None, None, None, 'N', None),
 (4, 'PUMPKINS', 'ATLANTA', None, '24 inch bins', 'HOWDEN TYPE', None, None, datetime.date(2016, 10, 1), 140.0, 154.75, 140.0, 154.75, 'MICHIGAN', None, 'jbo', None, None, None, None, None, None, None, None, 'N', None)]

### Create a new column containing the midpoint prices calculated using the high price and low price columns 

Calculate mid price - ("High Price" - "Low Price") / 2 + "Low Price"

Then add these resutls to a new column using the AS keyword

In [4]:
%%sql

SELECT *, 
("High Price" - "Low Price") / 2 + "Low Price" AS "Midpoint Price" 
FROM us_pumpkin_prices 
LIMIT 5;

 * postgresql+psycopg://localhost:5432/intro_to_sql_for_analytics
5 rows affected.

[(0, 'PUMPKINS', 'ATLANTA', None, '24 inch bins', 'HOWDEN TYPE', None, None, datetime.date(2016, 9, 24), 140.0, 154.75, 140.0, 154.75, 'MICHIGAN', None, 'jbo', None, None, None, None, None, None, None, None, 'N', None, 147.375),
 (1, 'PUMPKINS', 'ATLANTA', None, '24 inch bins', 'HOWDEN TYPE', None, None, datetime.date(2016, 9, 24), 145.0, 154.75, 145.0, 154.75, 'MICHIGAN', None, 'xlge', None, None, None, None, None, None, None, None, 'N', None, 149.875),
 (2, 'PUMPKINS', 'ATLANTA', None, '24 inch bins', 'HOWDEN TYPE', None, None, datetime.date(2016, 9, 24), 150.0, 154.75, 150.0, 154.75, 'MICHIGAN', None, 'med-lge', None, None, None, None, None, None, None, None, 'N', None, 152.375),
 (3, 'PUMPKINS', 'ATLANTA', None, '24 inch bins', 'HOWDEN TYPE', None, None, datetime.date(2016, 9, 24), 150.0, 150.0, 150.0, 150.0, 'MICHIGAN', None, 'sml', None, None, None, None, None, None, None, None, 'N', None, 150.0),
 (4, 'PUMPKINS', 'ATLANTA', None, '24 inch bins', 'HOWDEN TYPE', None, None, datetime.date(2016, 10, 1), 140.0, 154.75, 140.0, 154.75, 'MICHIGAN', None, 'jbo', None, None, None, None, None, None, None, None, 'N', None, 147.375)]

In [8]:
%%sql

SELECT *,
"High Price" - "Low Price" AS "Price Range"
FROM us_pumpkin_prices 
LIMIT 5;

 * postgresql+psycopg://localhost:5432/intro_to_sql_for_analytics
5 rows affected.

[(0, 'PUMPKINS', 'ATLANTA', None, '24 inch bins', 'HOWDEN TYPE', None, None, datetime.date(2016, 9, 24), 140.0, 154.75, 140.0, 154.75, 'MICHIGAN', None, 'jbo', None, None, None, None, None, None, None, None, 'N', None, 14.75),
 (1, 'PUMPKINS', 'ATLANTA', None, '24 inch bins', 'HOWDEN TYPE', None, None, datetime.date(2016, 9, 24), 145.0, 154.75, 145.0, 154.75, 'MICHIGAN', None, 'xlge', None, None, None, None, None, None, None, None, 'N', None, 9.75),
 (2, 'PUMPKINS', 'ATLANTA', None, '24 inch bins', 'HOWDEN TYPE', None, None, datetime.date(2016, 9, 24), 150.0, 154.75, 150.0, 154.75, 'MICHIGAN', None, 'med-lge', None, None, None, None, None, None, None, None, 'N', None, 4.75),
 (3, 'PUMPKINS', 'ATLANTA', None, '24 inch bins', 'HOWDEN TYPE', None, None, datetime.date(2016, 9, 24), 150.0, 150.0, 150.0, 150.0, 'MICHIGAN', None, 'sml', None, None, None, None, None, None, None, None, 'N', None, 0.0),
 (4, 'PUMPKINS', 'ATLANTA', None, '24 inch bins', 'HOWDEN TYPE', None, None, datetime.date(2016, 10, 1), 140.0, 154.75, 140.0, 154.75, 'MICHIGAN', None, 'jbo', None, None, None, None, None, None, None, None, 'N', None, 14.75)]

In [14]:
%%sql

SELECT *,
"High Price" - "Low Price" AS "Price Range"
FROM us_pumpkin_prices
ORDER BY "Price Range"
LIMIT 5;

 * postgresql+psycopg://localhost:5432/intro_to_sql_for_analytics
5 rows affected.

[(11, 'PUMPKINS', 'ATLANTA', None, '24 inch bins', 'HOWDEN TYPE', None, None, datetime.date(2016, 10, 8), 150.0, 150.0, 150.0, 150.0, 'MICHIGAN', None, 'sml', None, None, None, None, None, None, None, None, 'N', None, 0.0),
 (16, 'PUMPKINS', 'ATLANTA', None, '24 inch bins', 'HOWDEN TYPE', None, None, datetime.date(2016, 10, 15), 150.0, 150.0, 150.0, 150.0, 'MICHIGAN', None, 'sml', None, None, None, None, None, None, None, None, 'N', None, 0.0),
 (3, 'PUMPKINS', 'ATLANTA', None, '24 inch bins', 'HOWDEN TYPE', None, None, datetime.date(2016, 9, 24), 150.0, 150.0, 150.0, 150.0, 'MICHIGAN', None, 'sml', None, None, None, None, None, None, None, None, 'N', None, 0.0),
 (7, 'PUMPKINS', 'ATLANTA', None, '24 inch bins', 'HOWDEN TYPE', None, None, datetime.date(2016, 10, 1), 150.0, 150.0, 150.0, 150.0, 'MICHIGAN', None, 'sml', None, None, None, None, None, None, None, None, 'N', None, 0.0),
 (21, 'PUMPKINS', 'ATLANTA', None, '24 inch bins', 'HOWDEN TYPE', None, None, datetime.date(2016, 10, 22), 150.0, 150.0, 150.0, 150.0, 'MICHIGAN', None, 'sml', None, None, None, None, None, None, None, None, 'N', None, 0.0)]